.gradle
**/build/
**/bin/
!src/**/build/
**/.settings
gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath

modules/adapters/.factorypath
modules/infrastructure/.factorypath
.idea
